* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 8em;
}

body {
    background: linear-gradient(68.15deg, #252223 35.80%, #252223 69.18%);
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 20px;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
    background-color: #757474;
}

::-webkit-scrollbar-thumb {
    background-color: #00b2b8;
    border-radius: 15px;
}

@keyframes go-back {
    from {
        transform: translateX(100px);
    }
    to {
        transform: translateX(0);
    }
}

header nav {
    margin-top: 1rem;
}

header nav .container .collapse ul li .nav-link {
    font-size: 20px;
    margin-top: 0.3em;
}

header nav .container .collapse ul li a:hover {
    color: #00b2b8;
    transition: 2s;
    background-color: #00b2b8;
}

.navbar .container .collapse ul li .btn-nav {
    background-color: #00b2b8;
    border-radius: 20px;
    color: white;
    font-size: 20px;
}

.navbar .container .collapse ul li .btn-nav:hover {
    background-color: #1c1c1c;
    border: 1px solid #00b2b8;
}

.conteudo {
    margin-bottom: 35px;
    border-top: 0.2px solid #757474;
}

.conteudo-principal {
    margin-top: 5em;
    margin-bottom: 5em;
}

.form-group input {
    border: 2px solid #00b2b8;
}

form h1 {
    color: white;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Fredoka One', sans-serif;
    font-weight: 300;
    font-size: 60px;
    color: #ffffff;
}

.conteudo-principal-escrito-titulo span {
    color: #00b2b8;
    font-style: italic;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #fff8f8;
}

.conteudo-principal-escrito-botao {
    background-color: #00b2b8;
    border: none;
    box-shadow: 4px 5px 4px rgba(19, 19, 19, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #1c1c1c;
    width: 200px;
    padding: 3px;
    animation: go-back 1s;
}

.conteudo-principal-escrito-botao:hover {
    background-color: #ffffff;
    transition: left, 0.5s;
}

.conteudo-principal-escrito-botao i {
    padding-right: 10px;
}

.conteudo-principal-imagem {
    /*para imagens responsivas*/
    width: 100%;
    height: auto;
}


/* CONTEUDO SECUNDARIO */

.conteudo-secundario {
    margin-top: 3em;
}

.conteudo-secundario .row {
    margin-top: 4rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
}

.conteudo-secudario-titulo {
    text-align: center;
    border-top: 0.4px solid #00b2b8;
    padding-top: 20px;
    font-family: 'Fredoka One', sans-serif;
    font-weight: 400;
    font-size: 42px;
    color: #ffffff;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #ffffff;
}

.conteudo-secundario .row img {
    -webkit-filter: grayscale(100%);
}

.conteudo-secundario .row img:hover {
    -webkit-filter: grayscale(0%);
    transition: 0.5s;
}


/* FIM CONTEUDO SECUNDARIO */

.icones {
    margin-top: 3rem;
}

.icones h3 {
    color: #00b2b8;
    margin-top: 1rem;
    padding-bottom: 5px;
    font-size: 30px;
    border-bottom: 2px solid #00b2b8;
}

.icones p {
    color: white;
    font-size: 19px;
    text-align: left;
    line-height: 1.4em;
    letter-spacing: 1px;
}

section footer {
    background-color: #00b2b8;
}

footer a {
    text-decoration: none;
    color: #1c1c1c;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

footer a:hover {
    color: #1c1c1c;
    transition: 0.5s;
}

footer img {
    margin-left: 10px;
}

section footer .container {
    padding: 50px
}

section footer .container a {
    background-color: #1c1c1c;
    font-size: 25px;
}

section footer .container a:hover {
    background-color: white;
    font-size: 25px;
    color: #1c1c1c;
    transform: scale(1.1);
    transition: all 0.5s;
}

section footer .container a span:hover {
    color: #1c1c1c;
}

section footer .container a span {
    color: #00b2b8;
    font-size: 30px;
}

.listas {
    margin-top: 4rem;
}

#img-lista {
    border-radius: 15px;
}

.listas ul {
    margin-top: 5rem;
}

.listas ul li {
    margin-top: 1rem;
    color: #fefe;
    list-style: none;
    font-size: 25px;
    line-height: 2rem;
    letter-spacing: 2px;
    border-bottom: 2px solid #00b2b8;
    position: relative;
}

.listas ul span {
    color: #00b2b8;
    font-size: 40px;
}

.listas h3 {
    padding-left: 1rem;
    color: #00b2b8;
    font-size: 50px;
    border-left: 5px solid #00b2b8;
    position: absolute;
}

.quote-container {
    margin-top: 5rem;
    background-color: #00b2b8;
    padding: 50px 0;
    border-bottom: 12px solid #00b2b8;
}

.quote-slideshow h2 {
    color: white;
    font-size: 30px;
    font-style: italic;
    font-weight: normal;
    text-align: center;
}

.quote-slideshow figcaption {
    color: white;
    font-size: 18px;
    text-align: center;
}

.quote-container i {
    font-size: 30;
    margin: auto;
}

.no-js .quote-slideshow figure+figure {
    margin-top: 5em;
}

.container-carousel .carousel {
    margin: auto;
    width: 60%;
    height: auto;
    display: flex;
}

.container-carousel img {
    width: 100%;
    height: auto;
}

#carouselExampleControls {}


/*=======================LOGIN======================*/

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #00b2b8;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    padding: 12px;
    background-color: #00b2b8;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
    margin-top: 10px;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: red;
    background-color: #00b2b8;
    width: 100px;
    margin-top: 1rem;
    float: right;
}

.login_btn:hover {
    color: black;
    background-color: #00b2b8;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}


/*============= IMG CONTENTS/*============= */

.img-marketing {}

.img-marketing h1 {
    text-align: left;
    color: #00b2b8;
    font-size: 60px;
    font-weight: bold;
}

.img-marketing p {
    text-align: left;
    font-size: 20px;
    color: white;
}

.img-marketing .row img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.error-text {
    color: red;
}

.img-marketing a {
    font-size: 20px;
    color: white;
    background-color: #00b2b8;
    padding: 6px;
    width: 250px;
    height: auto;
}

.img-marketing a:hover {
    transition: 0.5s;
    background: #1c1c1c;
    color: #00b2b8;
}

footer .btn-primary {
    margin: auto;
    color: white;
    background-color: #1c1c1c;
    border: none;
    padding: 10px;
}

footer .btn-primary:hover {
    color: #1c1c1c;
    background-color: white;
    border: none;
    transition: 0.5s;
}

footer p,
h6 {
    color: #1c1c1c;
}

footer .fw-bold {
    color: #1c1c1c;
}

footer {
    background-color: #00b2b8;
}

footer span {
    font-weight: bold;
}

.maps-empresa iframe {
    padding-top: 30px;
    width: 100%;
    height: 300px;
}

.maps-empresa h1 {
    color: white;
}


/*Dispositivos extra small (telefones em modo retrato, com menos de 576px)*/

@media (max-width: 575.98px) {
    .conteudo-principal .container {
        margin-top: 3rem;
    }
    .conteudo-principal .container .fab {
        font-size: 40px
    }
    .conteudo-principal .container h3 {
        font-size: 20px;
    }
    .img-marketing h1 {
        font-size: 60px;
    }
    .img-marketing img {
        margin: 2em 0 2rem 0;
    }
    .icones {
        margin-top: 1rem;
    }
    .icones img {
        margin-left: 5rem;
        width: 150px;
    }
    .icones h3 {
        text-align: center;
    }
    .icones .col-md-3 {
        margin-top: 1rem;
    }
    .listas .col-md-6 {
        margin-top: 2rem;
    }
    .listas img {
        margin-top: 2em;
        margin-left: 0.8em;
        width: 100%;
    }
}


/* Dispositivos small (telefones em modo paisagem, com menos de 768px)*/

@media (max-width: 767.98px) {}


/* Dispositivos médios (tablets com menos de 992px) */

@media (max-width: 991.98px) {}


/* Dispositivos large (desktops com menos de 1200px)*/

@media (max-width: 1199.98px) {}